* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* navigation bar */

/* navigation bar list styling */
#navbar {
    position: relative;
    top: 0px;
}

#navbar ul {
    display: flex;

}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;

}

#navbar ul li a {
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;


}

#logo {
    margin: 12px 25px;
}

#logo img {
    height: 100px;
    width: 100px;
    background-color: rgb(112, 165, 42);

}

/* navigation bar */
#navbar {
    display: flex;

}

/* navigation bar list styling */
#navbar ul {
    display: flex;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.59;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Alfa Slab One', serif;


}

#navbar ul li a {
    color: white;
    display: block;
    margin: 15px;
    padding: 34px 24px;
    border-radius: 30px;
    font-family: 'Alfa Slab One', serif;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* home section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 660px;
    justify-content: center;
    align-items: center;

}

#home::before {
    content: "";
    position: absolute;
    background: url('spaghetti-1932466_1280.jpg')no-repeat center center/cover;
    height: 105%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.84;

}

#home h1 {
    color: white;
    text-align: center;
}

#home h1 {
    color: white;
    text-align: center;
    font-size: 2.8rem;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: white;
    font-size: 1.8rem;


}

/* utility classes */
.h-primary {
    font-size: 2.8rem;
    padding: 12px;
    justify-content: center;
    align-items: center;
    font-family: 'Bree Serif', serif; 
}

.h-secondary {
    font-size: 1.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;

}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}

/* Services Section */
#services {
    margin: 68px;
    display: flex;
    position: relative;
}

#services .box {
    border: 2px solid brown;
    padding: 14px;
    margin: 3px 6px;
    border-radius: 28px;
    background: rgb(226, 204, 204);
}

#services .box img {
    height: 150px;
    margin: auto;
    display: block;
}
#client-section{
    position:relative;
    
    font-family: 'Bree Serif', serif;
    


}
#clients{
    display:flex;
    justify-content: center;
    align-items: center;
}
#clients  img{
    height: 124px;
    padding: 12px;
    margin: 27px;
}
.client-item{
    padding:34px;
}
#client-section::before{
    content:"";
    position:absolute;
    background: url('./meal-2834549_1280.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.48;
    

}
#contact{
    font-family: 'Bree Serif', serif;
    font-size: 40px;
    position: relative;

}
#contact::before{
    content:"";
    position: absolute;
    background: url('./contact-details-3381225_640.jpg') no-repeat center center/cover;
    top:0px;
    left:0px;
    width: 100%;
    height:100%;
    z-index: -1;
    opacity: 0.7;
}
footer{
background: black;
color: white;
padding: 9px 20px;
}
#contact-box{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:34px;
    font-family: 'Bree Serif', serif;
    
}
#contact-box input,
#contact-box textarea{
    width: 88%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    font-family: 'Bree Serif', serif;
    

}
#contact-box form{
    width:40%;

}
#contact-box label{
    font-family: 'Alfa Slab One', serif;
    font-size: 1.3rem;
   
}
    
